#boards {
    align-content: center;
}

.invisible {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

#newBoard {
    padding: 15px;
    margin: 30px;

}

.board {
    border: black 10px;
    padding: 50px;
}

.expanded {
    display: none;
}

.header {
    float: left;
    padding: 5px;
    border: 1px solid;
    height: 350px;
}

.stories {
    padding: 10px
}

.story {
    margin-bottom: 50px;
    position: relative;
    top: 100px;
    border: 1px solid;
    font-size: xx-large;
    padding-left: 35px;
    margin-left: 450px;
    padding-top: 15px;
    width: 900px;
    border-radius: 15px;
}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
}

h3 {
    padding: inherit;

}

.topnav {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1.25rem;
    background: url(../back.jpg);
    background-size: cover;
    margin-right: 250px;
    margin-left: 250px;
}


a {
    float: right;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

#usernameSI, #username, #passwordSI, #password {
    width: auto;
    margin-left: 30px;
}


label {
    display: contents;
}

