<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    {#    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.9.0.min.css"/>#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="static/js/script.js" defer></script>

</head>
<body>
<header>
    <nav class="topnav" id='head'>
        <a href="#" onclick="showElement(signInBox);hideElement(registrationBox)">Sign in</a>
        <a href="#" onclick="showElement(registrationBox);hideElement(signInBox)">Sign up</a>
        <img id="logo" src="../static/logo.png" alt="">
    </nav>
    <hr>
</header>
<div id="registration" class='invisible'>
    <div class="modal-contents">
        <h3><b>Registration</b></h3>
        <form>
            <label>Username:</label><input id="username" type="text"></br></br></br>
            <label>Password:</label><input id="password" type="password"></br></br></br>
            <button id="submit_button">Sign up</button>
        </form>
    </div>
</div>
<div id="sign_in" class='invisible'>
    <div class="modal-contents">
        <h3><b>Sign in</b></h3>
        <form>
            <label>Username:</label><input id="usernameSI" type="text"></br></br></br>
            <label>Password:</label><input id="passwordSI" type="password"></br></br></br>
            <button id="sign_in_button" onclick="window.location.reload()">Sign in</button>
        </form>
    </div>
</div>

<div id="create" class="invisible">
    <div class="modal-contents">
        <form>
            <h2 style="text-align: center">New Board</h2>
            <input id="newBoard"><br>
            <button id="createNewBoard" onclick="hideElement(boardForm);window.location.reload()">Create Board
            </button>
        </form>
    </div>
</div>
<div id="card" class="invisible">
    <div class="modal-contents">
        <form>
            <h2 style="text-align: center">Card Name</h2>
            <input id="newCard">
            <button id="createNewCard" onclick="hideElement(newCardForm)">Create Card</button>
        </form>
    </div>
</div>

<div class="containter-board">
    <div id="boards">
        <h1> Boards
            <button id='makeNewBoard' onclick="showElement(boardForm)"><i class="fa fa-plus-circle fa-4x" ></i></button>
        </h1>
    </div>
</div>
</body>
</html>